<!-- Including header and main navigation panel partials -->
<%- include('partials/header.ejs') %> <%- include('partials/main_nav.ejs')%>
<!--  -->
<main class="container">
  <div class="bg-light p-5 rounded-lg m-3">
    <h1>Welcome to <%= title %> page</h1>
  </div>
</main>
<% if ( title=="Home" ) { %> 
  <%- include('partials/home_content.ejs')%> 
<% } %>
<% if ( title=="Projects" ) { %> 
  <%- include('partials/projects_content.ejs')%> 
<% } %>
<% if ( title=="Services" ) { %> 
  <%- include('partials/services_content.ejs')%> 
  <% } %>
<% if ( title=="About Me" ) { %> 
  <%- include('partials/about_content.ejs')%> 
  <% } %>
<% if ( title=="Contact" ) { %> 
  <%- include('partials/contact_content.ejs')%> 
  <% } %>
  
<!-- Including footer and bottom panel partials -->
<%- include('partials/bottom_nav.ejs')%> <%- include('partials/footer.ejs') %>
